{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block content %}
  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>About us</h2>
              <p>Home <span>-</span> About us</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!-- ================ contact section start ================= -->
  {% comment %} <section class="about-section padding_top">
    <div class="about-container">
        <div class="media-body">
            <h1>ABOUT US</h1>
            <p>At UTG Hobby’s, our passion for RC Hobby’s goes beyond telling time; it's about celebrating craftsmanship, style, and the enduring art of RC Vehicle. Founded by a team of dedicated RC enthusiasts, UTG Hobby’s was born out of a shared love for these intricate Electronic wonders that have graced Power for generations.
                Our mission is simple: to bring the beauty and precision of RC Community to your fingertips. We curate a carefully selected collection of RC Hobby’s, ranging from iconic Modern design innovations. Each Vehicles has been chosen for its unique character, quality, and ability to captivate both the connoisseur and the Auto enthusiast.
                But we're more than just a store; we're a community of watch aficionados eager to share our knowledge and passion with you. Whether you're seeking your first Classic Vehicle or expanding your collection, our team is here to guide you every step of the way.
                Thank you for joining us on this horological adventure. Together, we'll explore the timeless beauty and innovation that make RC Hobby’s more than just instruments; they're expressions of history, craftsmanship.</p>
        </div>
    </div>
  </section> {% endcomment %}

  <section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="{% static "assets_home/img/logo.jpg" %}" alt="">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="h1 mb-3">Who Are We?</h2>
              <p class="lead fs-4 text-secondary mb-3">At UTG Hobby’s, our passion for RC Hobby’s goes beyond telling time; it's about celebrating craftsmanship, style, and the enduring art of RC Vehicle. Founded by a team of dedicated RC enthusiasts, UTG Hobby’s was born out of a shared love for these intricate Electronic wonders that have graced Power for generations.
                Our mission is simple: to bring the beauty and precision of RC Community to your fingertips. We curate a carefully selected collection of RC Hobby’s, ranging from iconic Modern design innovations. Each Vehicles has been chosen for its unique character, quality, and ability to captivate both the connoisseur and the Auto enthusiast.
                But we're more than just a store; we're a community of watch aficionados eager to share our knowledge and passion with you. Whether you're seeking your first Classic Vehicle or expanding your collection, our team is here to guide you every step of the way.
                Thank you for joining us on this horological adventure. Together, we'll explore the timeless beauty and innovation that make RC Hobby’s more than just instruments; they're expressions of history, craftsmanship.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->
  {% endblock %}
