{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="{% static "assets_home/css/bootstrap.min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "assets_home/fonts/font-awesome/css/font-awesome.min.css" %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static "assets_home/img/favicon.ico" type="image/x-icon" %}">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static "assets_home/css/style.css" %}">
</head>
<body>

<!-- Invoice 2 start -->
<div class="invoice-2 invoice-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="invoice-inner clearfix">
                    <div class="invoice-info clearfix" id="invoice_wrapper">
                        <div class="invoice-headar">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="invoice-logo">
                                        <!-- logo started -->
                                        <div class="logo">
                                            <img src="https://media.discordapp.net/attachments/991705054828560496/1185585752751480892/Clipped_image_20231120_182451-01.jpg?ex=65abd546&is=65996046&hm=d4b90657c57ec2b12897a4e4935deae0c5974dc5941048ad98e50a7fa168a4f6&=&format=webp&width=463&height=118" alt="logo">
                                        </div>
                                        <!-- logo ended -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="invoice-id">
                                        <div class="info">
                                            <h1 class="inv-header-1">Invoice</h1>
                                            <p class="mb-1">Order ID: <span>{{order.order_id}}</span></p>
                                            <p class="mb-0">Invoice Date: <span>{{order.order_date.date}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-top">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="invoice-number mb-30">
                                        <h4 class="inv-title-1">Invoice To</h4>
                                        <h2 class="name">{{order.address.name}}</h2>
                                        <p class="invo-addr-1">
                                            {{order.address.phone}} <br/>
                                            {{order.user.email}} <br/>
                                            {{order.address.street_address}}, {{order.address.city}}, {{order.address.state}} <br/>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="invoice-number mb-30">
                                        <div class="invoice-number-inner">
                                            <h4 class="inv-title-1">Invoice From</h4>
                                            <h2 class="name">UTG Hobby</h2>
                                            <p class="invo-addr-1">
                                                UTG Hobby  <br/>
                                                nijithckv2001@gmail.com <br/>
                                                UTG Hobby, Calicut, Kerala <br/>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-center">
                            <div class="table-responsive">
                                <table class="table mb-0 table-striped invoice-table">
                                    <thead class="bg-active">
                                    <tr class="tr">
                                        <th>ID.</th>
                                        <th class="pl0 text-start">Product</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Offer</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-end">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in order_items %}
                                    <tr class="tr">
                                        <td>
                                            <div class="item-desc-1">
                                                <span>{{item.id}}</span>
                                            </div>
                                        </td>
                                        <td class="pl0">{{item.variant.product.products_name}}</td>
                                        <td class="text-center"><span style='font-size:15px;'>&#8377;</span>{{item.variant.price}}</td>
                                        {% if item.variant.product_offer > item.variant.category_offer %}
                                        <td class="text-end">{{item.variant.product_offer|floatformat:0}}%</td>
                                        {% else %}
                                        <td class="text-end">{{item.variant.category_offer|floatformat:0}}%</td>
                                        {% endif %}
                                        <td class="text-center">{{item.quantity}}</td>
                                        <td class="text-end">{{item.price}}</td>

                                    </tr>
                                    {% endfor %}
                                
                                    <tr class="tr2">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td class="text-center">SubTotal</td>
                                        <td class="text-end"><span style='font-size:15px;'>&#8377;</span>{{total_discounted_price}}</td>
                                    </tr>

                                    <tr class="tr2">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
 
                                        
                                        {% if coupon %}
                                        <td class="text-center">Coupon</td>
                                        <td class="text-end">-{{coupon.discount_price}}<span style='font-size:15px;'>&#8377;</span></td>
                                        {% else %}
                                        <td class="text-center">Coupon</td>
                                        <td class="text-end"><span style='font-size:15px;'>&#8377;</span>0</td>
                                        {% endif %}
                                    </tr>

                                    
                                    <tr class="tr2">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td class="text-center f-w-600 active-color">Grand Total</td>
                                        <td class="f-w-600 text-end active-color"><span style='font-size:15px;'>&#8377;</span>{{total}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="invoice-bottom">
                            <div class="row">
                                <div class="col-lg-6 col-md-5 col-sm-5">
                                    <div class="payment-method mb-30">
                                        <h3 class="inv-title-1">Payment Method</h3>
                                        <ul class="payment-method-list-1 text-14">
                                            <li class=" text-uppercase"><strong class="font-weight-bold">Payment Method:</strong> {{order.payment_mode}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    <div class="terms-conditions mb-30">
                                        <h3 class="inv-title-1">Terms & Conditions</h3>
                                        <p>By making a purchase, you agree to our terms and conditions. Please note that no returns are accepted.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-contact clearfix">
                            <div class="row g-0">
                                <div class="col-sm-12">
                                    <div class="contact-info clearfix">
                                        <a href="tel:+55-4XX-634-7071" class="d-flex"><i class="fa fa-phone"></i> +91 7736664390</a>
                                        <a href="tel:info@themevessel.com" class="d-flex"><i class="fa fa-envelope"></i> nijithckv2001@gmail.com</a>
                                        <a href="tel:info@themevessel.com" class="mr-0 d-flex d-none-580"><i class="fa fa-map-marker"></i> UTG_Hobby, Calicut, Kerala</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-btn-section clearfix d-print-none">
                        <a href="javascript:window.print()" class="btn btn-lg btn-print">
                            <i class="fa fa-print"></i> Print Invoice
                        </a>
                        <a id="invoice_download_btn" class="btn btn-lg btn-download btn-theme">
                            <i class="fa fa-download"></i> Download Invoice
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Invoice 2 end -->

<script src="{% static "assets_home/js/jquery.min.js" %}"></script>
<script src="{% static "assets_home/js/jspdf.min.js" %}"></script>
<script src="{% static "assets_home/js/html2canvas.js" %}"></script>
<script>
    $(function () {

        'use strict';
    
        /**
         * Generating PDF from HTML using jQuery
         */
        $(document).on('click', '#invoice_download_btn', function () {
            var contentWidth = $("#invoice_wrapper").width();
            var contentHeight = $("#invoice_wrapper").height();
            var topLeftMargin = 20;
            var pdfWidth = contentWidth + (topLeftMargin * 2);
            var pdfHeight = (pdfWidth * 1.5) + (topLeftMargin * 2);
            var canvasImageWidth = contentWidth;
            var canvasImageHeight = contentHeight;
            var totalPDFPages = Math.ceil(contentHeight / pdfHeight) - 1;
    
            html2canvas($("#invoice_wrapper")[0], {allowTaint: true}).then(function (canvas) {
                canvas.getContext('2d');
                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [pdfWidth, pdfHeight]);
                pdf.addImage(imgData, 'JPG', topLeftMargin, topLeftMargin, canvasImageWidth, canvasImageHeight);
                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(pdfWidth, pdfHeight);
                    pdf.addImage(imgData, 'JPG', topLeftMargin, -(pdfHeight * i) + (topLeftMargin * 4), canvasImageWidth, canvasImageHeight);
                }
                pdf.save("sample-invoice.pdf");
            });
        });
    })
    
</script>
</body>
</html>
