{% extends "base.html" %}
{% load static %}
{% block title %}Shop{% endblock  %}


<link rel="stylesheet" href="{% static 'assets_home/css/slider.css' %}" type='text/css'>

{% block content %}
    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2 class="text-warning">Shop</h2>
                            <p class="text-white">Home <span>-</span> Shop</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                            </div>
                            <div class="widgets_inner">
                                <form id="filter-form">
                                    {% csrf_token %}
                                    <ul class="list" id="category-list">
                                        <h4>Browse Categories</h4>

                                        {% if Cat_list %}
                                            {% for cat in Cat_list %}
                                                <li>
                                                    <label>
                                                        <input type="checkbox" name="selected_categories" value="{{ cat.id }}">
                                                        {{ cat.name }}
                                                    </label>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <p>No Categories are listed.</p>
                                        {% endif %}
                                    </ul>
                                    <ul class="list" id="brand-list">
                                        <h4>Browse Brands</h4>
                                        {% if Bran_list %}
                                        {% for bran in Bran_list %}
                                        <li>
                                                    <label>
                                                        <input type="checkbox" name="selected_brands" value="{{ bran.id }}">
                                                        {{ bran.name }}
                                                </label>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                            <p>No Brands are listed.</p>
                                        {% endif %}
                                    </ul>
                                    <button type="submit" class="btn_3 btn-primary ml-5 mt-4">Apply</button>
                                </form>
                            </div>
                        </aside>
                    
                        <aside class="left_widgets p_filter_widgets price_rangs_aside">
                            
                        </aside>
                    </form>
                    </div>
                </div>
                
                
                    <div class="col-lg-9">
                        <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                    
                    <!--Product listing-->
                    <div class="row product-list">
                        {% for var in variants %}
                            <div class="col-lg-4 col-sm-6 product_data">
                                <div class="single_product_item">
                                    <a href="../products_details/{{var.id}}"><img src="{{var.images.all.last.image.url}}" alt=""/></a>
                                    <div class="single_product_text">
                                        <h4 class="ml-4">{{ var.product.products_name }}</h4>
                                        <p class="ml-4 text-black">Brand: {{ var.product.brand_id.name }}</p>
                                        <p class="ml-4 text-black">Color: {{ var.color }}</p1>
                                        <h3 class="ml-4">${{ var.price }}</h3>
                                        
                                        {% csrf_token %}
                                        <input type="hidden" id="product-id" value="{{var.id}}" class="prod_id">
                                        {% if var.quantity > 0 %}
                                        <a class="add_cart"><button type="button" id="add_cart" class="btn border-0 text-danger fw-bolder">+ ADD TO CART</button><i class="ti-heart"></i></a>
                                        {% else %}
                                        <a> OUT OF STOCK<i class="ti-heart"></i></a>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                </div><div class="row">
                            {% endif %}
                        {% endfor %}
                    </div>
                        <!--Product listing End-->
                        
                        <div class="col-lg-12">
                            <div class="pageination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            {% if homeVariant.has_previous %}
                                            <a class="page-link" href="?page={{homeVariant.previous_page_number}}" aria-label="Previous">
                                                <i class="ti-angle-double-left"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% for i in homeVariant.paginator.page_range %}
                                        
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item">
                                            {% endfor %}
                                            <a class="page-link" href="#" aria-label="Next">
                                                <i class="ti-angle-double-right"></i>
                                            </a>
                                            
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    {% comment %} <section class="product_list best_seller section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Sellers <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        {% for var in variants %}
                        <div class="single_product_item">
                            <a href="../products_details/{{var.id}}"><img src="{{var.images.all.last.image.url}}" alt="" /></a>
                            <div class="single_product_text">
                                <h4>{{var.product.products_name}}</h4>
                                <p>Category: {{ var.product.category_id.name }}</p>
                                <p>Brand: {{ var.product.brand_id.name }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

    <!-- product_list part end-->
    
    <script src="{% static "assets_home/js/price_rangs.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('.add_cart').click(function (e) {
                e.preventDefault();
    
                // Update this line to use the correct class selector
                var product_id = $(this).closest('.product_data').find('.prod_id').val();
    
                var token = $('input[name=csrfmiddlewaretoken]').val();
    
                $.ajax({
                    method: "POST",
                    url: "/addcart/",
                    data: {
                        'product_id': product_id,
                        csrfmiddlewaretoken: token
                    },
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
    
                        if (response.success) {
                            Swal.fire({
                                title: 'Item Added to Cart',
                                text: 'Your item has been added to the cart.',
                                icon: 'success',
                            });
                            $('#cart-count-badge').text(response.cart_count);
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: 'Already in cart',
                                icon: 'error',
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", error);
                    }
                });
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("filter-form").addEventListener("submit", function (event) {
                event.preventDefault();
                applyFilters(this);
            });
    
            function applyFilters(form) {
                const formData = new FormData(form);
                const url = window.location.pathname + "?" + new URLSearchParams(formData).toString();
                window.location.href = url;
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script>
 
    </script>


<!-- shop.html -->

{% endblock %}