--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

-- Set session parameters
SET search_path TO public;
SET client_encoding TO 'UTF8';
SET standard_conforming_strings TO on;
SET check_function_bodies TO false;
SET xmloption TO content;
SET client_min_messages TO warning;
SET row_security TO off;

-- Reset timeout settings
SET statement_timeout TO 0;
SET lock_timeout TO 0;
SET idle_in_transaction_session_timeout TO 0;

-- Reset default table settings
SET default_tablespace TO '';
SET default_table_access_method TO heap;


--
-- Name: account_emailaddress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_emailaddress (
    id integer NOT NULL,
    email character varying(254) NOT NULL,
    verified boolean NOT NULL,
    "primary" boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.account_emailaddress OWNER TO postgres;

--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.account_emailaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_emailconfirmation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_emailconfirmation (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    sent timestamp with time zone,
    key character varying(64) NOT NULL,
    email_address_id integer NOT NULL
);


ALTER TABLE public.account_emailconfirmation OWNER TO postgres;

--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.account_emailconfirmation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailconfirmation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: admin_side_banner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_side_banner (
    id bigint NOT NULL,
    title character varying(50) NOT NULL,
    subtitle character varying(500) NOT NULL,
    image character varying(100) NOT NULL,
    is_listed boolean NOT NULL,
    variant_id bigint
);


ALTER TABLE public.admin_side_banner OWNER TO postgres;

--
-- Name: admin_side_baners_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.admin_side_banner ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.admin_side_baners_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: django_site; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_site (
    id integer NOT NULL,
    domain character varying(100) NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.django_site OWNER TO postgres;

--
-- Name: django_site_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_site ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_site_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialaccount; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.socialaccount_socialaccount (
    id integer NOT NULL,
    provider character varying(200) NOT NULL,
    uid character varying(191) NOT NULL,
    last_login timestamp with time zone NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    extra_data jsonb NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.socialaccount_socialaccount OWNER TO postgres;

--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.socialaccount_socialaccount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialaccount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.socialaccount_socialapp (
    id integer NOT NULL,
    provider character varying(30) NOT NULL,
    name character varying(40) NOT NULL,
    client_id character varying(191) NOT NULL,
    secret character varying(191) NOT NULL,
    key character varying(191) NOT NULL,
    provider_id character varying(200) NOT NULL,
    settings jsonb NOT NULL
);


ALTER TABLE public.socialaccount_socialapp OWNER TO postgres;

--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.socialaccount_socialapp ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp_sites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.socialaccount_socialapp_sites (
    id bigint NOT NULL,
    socialapp_id integer NOT NULL,
    site_id integer NOT NULL
);


ALTER TABLE public.socialaccount_socialapp_sites OWNER TO postgres;

--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.socialaccount_socialapp_sites ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_sites_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.socialaccount_socialtoken (
    id integer NOT NULL,
    token text NOT NULL,
    token_secret text NOT NULL,
    expires_at timestamp with time zone,
    account_id integer NOT NULL,
    app_id integer
);


ALTER TABLE public.socialaccount_socialtoken OWNER TO postgres;

--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.socialaccount_socialtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_authentication_customuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_authentication_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    phone_number character varying(15) NOT NULL,
    email character varying(254) NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    date_of_join date,
    email_verified boolean NOT NULL,
    otp character varying(6),
    is_listed boolean NOT NULL
);


ALTER TABLE public.user_authentication_customuser OWNER TO postgres;

--
-- Name: user_authentication_customuser_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_authentication_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.user_authentication_customuser_groups OWNER TO postgres;

--
-- Name: user_authentication_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_authentication_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_authentication_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_authentication_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_authentication_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_authentication_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_authentication_customuser_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_authentication_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.user_authentication_customuser_user_permissions OWNER TO postgres;

--
-- Name: user_authentication_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_authentication_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_authentication_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_cart_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_cart_cart (
    id bigint NOT NULL,
    prod_quantity integer NOT NULL,
    cart_price integer NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT user_cart_cart_cart_price_check CHECK ((cart_price >= 0))
);


ALTER TABLE public.user_cart_cart OWNER TO postgres;

--
-- Name: user_cart_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_cart_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_cart_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_coupon_coupon; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_coupon_coupon (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    code character varying(50) NOT NULL,
    discount_price numeric(10,2) NOT NULL,
    minimum_purchase numeric(10,2),
    exp_date date NOT NULL,
    usage_limit integer NOT NULL,
    user_count integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT user_coupon_coupon_usage_limit_check CHECK ((usage_limit >= 0)),
    CONSTRAINT user_coupon_coupon_user_count_check CHECK ((user_count >= 0))
);


ALTER TABLE public.user_coupon_coupon OWNER TO postgres;

--
-- Name: user_coupon_coupon_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_coupon_coupon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_coupon_coupon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_coupon_couponusage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_coupon_couponusage (
    id bigint NOT NULL,
    total_amount integer,
    applied_on timestamp with time zone NOT NULL,
    coupon_id bigint,
    user_id bigint,
    CONSTRAINT user_coupon_couponusage_total_amount_check CHECK ((total_amount >= 0))
);


ALTER TABLE public.user_coupon_couponusage OWNER TO postgres;

--
-- Name: user_coupon_couponusage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_coupon_couponusage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_coupon_couponusage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_order_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_order_order (
    order_id character varying(8) NOT NULL,
    payment_mode character varying(150) NOT NULL,
    order_date timestamp with time zone NOT NULL,
    expected_date date,
    delivery_date date,
    total_price numeric(10,2) NOT NULL,
    address_id bigint NOT NULL,
    user_id bigint NOT NULL,
    quantity integer NOT NULL,
    applied_coupon_id bigint,
    applied_offer_id bigint,
    CONSTRAINT user_order_order_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.user_order_order OWNER TO postgres;

--
-- Name: user_order_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_order_orderitem (
    id bigint NOT NULL,
    price numeric(10,2) NOT NULL,
    quantity integer NOT NULL,
    modified_time timestamp with time zone NOT NULL,
    status character varying(150) NOT NULL,
    order_id character varying(8) NOT NULL,
    variant_id bigint NOT NULL,
    CONSTRAINT user_order_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.user_order_orderitem OWNER TO postgres;

--
-- Name: user_order_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_order_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_order_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_products_brands; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_products_brands (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    is_listed boolean NOT NULL
);


ALTER TABLE public.user_products_brands OWNER TO postgres;

--
-- Name: user_products_brands_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_products_brands ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_products_brands_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_products_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_products_category (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    is_listed boolean NOT NULL
);


ALTER TABLE public.user_products_category OWNER TO postgres;

--
-- Name: user_products_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_products_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_products_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_products_colorvarient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_products_colorvarient (
    id bigint NOT NULL,
    color character varying(10) NOT NULL,
    quantity integer NOT NULL,
    price integer NOT NULL,
    is_listed boolean NOT NULL,
    product_offer numeric(5,2) NOT NULL,
    product_id bigint NOT NULL,
    category_offer numeric(5,2) NOT NULL,
    CONSTRAINT user_products_colorvarient_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.user_products_colorvarient OWNER TO postgres;

--
-- Name: user_products_colorvarient_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_products_colorvarient ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_products_colorvarient_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_products_image; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_products_image (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    variant_id bigint
);


ALTER TABLE public.user_products_image OWNER TO postgres;

--
-- Name: user_products_image_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_products_image ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_products_image_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_products_products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_products_products (
    id bigint NOT NULL,
    products_name character varying(50) NOT NULL,
    description character varying(500) NOT NULL,
    is_listed boolean NOT NULL,
    brand_id_id bigint NOT NULL,
    category_id_id bigint NOT NULL
);


ALTER TABLE public.user_products_products OWNER TO postgres;

--
-- Name: user_products_products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_products_products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_products_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_profile_address; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_profile_address (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    phone character varying(50) NOT NULL,
    street_address text NOT NULL,
    city character varying(50) NOT NULL,
    state character varying(50) NOT NULL,
    pin_code integer NOT NULL,
    is_present boolean NOT NULL,
    user_id bigint
);


ALTER TABLE public.user_profile_address OWNER TO postgres;

--
-- Name: user_profile_address_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_profile_address ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_profile_address_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_review_review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_review_review (
    id bigint NOT NULL,
    review character varying(1000) NOT NULL,
    rating integer NOT NULL,
    user_id bigint NOT NULL,
    variant_id bigint NOT NULL
);


ALTER TABLE public.user_review_review OWNER TO postgres;

--
-- Name: user_review_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_review_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_review_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_wallet_wallet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_wallet_wallet (
    id bigint NOT NULL,
    date timestamp with time zone NOT NULL,
    transaction_details character varying(500) NOT NULL,
    transaction_type character varying(50) NOT NULL,
    transaction_amount numeric(10,2) NOT NULL,
    balance_amount numeric(10,2) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.user_wallet_wallet OWNER TO postgres;

--
-- Name: user_wallet_wallet_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_wallet_wallet ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_wallet_wallet_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_emailaddress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.account_emailaddress (id, email, verified, "primary", user_id) FROM stdin;
20	nijithckv2001@gmail.com	t	t	130
\.


--
-- Data for Name: account_emailconfirmation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.account_emailconfirmation (id, created, sent, key, email_address_id) FROM stdin;
\.


--
-- Data for Name: admin_side_banner; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admin_side_banner (id, title, subtitle, image, is_listed, variant_id) FROM stdin;
9	VISHU DHAMAKA	A car, or an automobile, is a motor vehicle with wheels. Most definitions of cars state that they run primarily on roads, seat	banner/3-removebg.png	t	18
10	FLY EVENT	An airplane American English or aeroplane Commonwealth English, informally plane, is a fixed-wing aircraft that is propelled	banner/3.png	t	16
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_site; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_site (id, domain, name) FROM stdin;
5	http://127.0.0.1:8000	UTG Hobby
\.


--
-- Data for Name: socialaccount_socialaccount; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: socialaccount_socialapp; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.socialaccount_socialapp (id, provider, name, client_id, secret, key, provider_id, settings) FROM stdin;
1	google	google	209581959606-mi2qt2tknpt70rkpo2199haojjb4q92o.apps.googleusercontent.com	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			{}
\.


--
-- Data for Name: socialaccount_socialapp_sites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.socialaccount_socialapp_sites (id, socialapp_id, site_id) FROM stdin;
3	1	5
\.


--
-- Data for Name: socialaccount_socialtoken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.socialaccount_socialtoken (id, token, token_secret, expires_at, account_id, app_id) FROM stdin;
\.


--
-- Data for Name: user_authentication_customuser; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_authentication_customuser_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_authentication_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: user_authentication_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_authentication_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: user_cart_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_cart_cart (id, prod_quantity, cart_price, product_id, user_id) FROM stdin;
\.


--
-- Data for Name: user_coupon_coupon; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_coupon_couponusage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_coupon_couponusage (id, total_amount, applied_on, coupon_id, user_id) FROM stdin;
122	\N	2024-02-12 11:42:18.754625+05:30	23	\N
123	\N	2024-02-12 19:37:02.376664+05:30	21	\N
124	\N	2024-03-02 11:59:50.408553+05:30	26	129
\.


--
-- Data for Name: user_order_order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_order_order (order_id, payment_mode, order_date, expected_date, delivery_date, total_price, address_id, user_id, quantity, applied_coupon_id, applied_offer_id) FROM stdin;
13b621e8	cod	2024-03-02 11:59:57.724746+05:30	2024-03-09	\N	4070.00	45	129	13	\N	\N
2fd93609	razor	2024-03-02 12:02:12.838478+05:30	2024-03-09	\N	6900.00	45	129	17	\N	\N
0211a3f9	wallet	2024-03-02 12:03:51.395888+05:30	2024-03-09	\N	2842.00	45	129	9	\N	\N
a05f598f	wallet	2024-03-02 12:10:38.79109+05:30	2024-03-09	\N	2880.00	47	130	10	\N	\N
\.


--
-- Data for Name: user_order_orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_products_brands; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_products_brands (id, name, is_listed) FROM stdin;
2	Blade	t
3	E-Flite	t
4	Losi	t
5	Pro-ride	t
1	Arrma	t
\.


--
-- Data for Name: user_products_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_products_category (id, name, is_listed) FROM stdin;
1	Plane	t
5	Bikes	t
3	Boat	t
4	Cars	t
\.


--
-- Data for Name: user_products_colorvarient; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_products_image; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_products_products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_products_products (id, products_name, description, is_listed, brand_id_id, category_id_id) FROM stdin;
25	Promoto	RC Bike	t	4	5
26	Fusion	RC Helicopter	t	2	1
29	Lucas	RC Boat	t	5	3
42	Vendetta	Sport RC Car	t	1	4
43	Vorteks	RC Offroad Rally Car	t	1	4
44	Helicopter 150-FX	RC Helicopter	t	2	1
45	Rafale	RC Plane	t	3	1
46	T-28	RC Plane	t	3	1
47	UMX	RC Plane	t	3	1
24	F-16	plane	t	3	1
23	Granite	Nice	t	1	4
22	Felony-6S	This our new 1:7 scale RC Car from Arrma	t	1	4
21	Habu	The	t	3	1
\.


--
-- Data for Name: user_profile_address; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_profile_address (id, name, phone, street_address, city, state, pin_code, is_present, user_id) FROM stdin;
45	Nijith	7845128956	Valiyaparambath	Calicut	Kerala	673008	t	129
46	Sinan	7418527896	Unniyal	Palakkad	Kerala	673100	t	129
47	Favas	7845128956	KannurKing	Kochi	Kerala	673008	t	130
\.


--
-- Data for Name: user_review_review; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_review_review (id, review, rating, user_id, variant_id) FROM stdin;
\.


--
-- Data for Name: user_wallet_wallet; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_emailaddress_id_seq', 20, true);


--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_emailconfirmation_id_seq', 1, false);


--
-- Name: admin_side_baners_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_side_baners_id_seq', 10, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 108, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 537, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 26, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 59, true);


--
-- Name: django_site_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_site_id_seq', 5, true);


--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.socialaccount_socialaccount_id_seq', 20, true);


--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_id_seq', 1, true);


--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_sites_id_seq', 3, true);


--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.socialaccount_socialtoken_id_seq', 1, false);


--
-- Name: user_authentication_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_authentication_customuser_groups_id_seq', 1, false);


--
-- Name: user_authentication_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_authentication_customuser_id_seq', 130, true);


--
-- Name: user_authentication_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_authentication_customuser_user_permissions_id_seq', 1, false);


--
-- Name: user_cart_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_cart_cart_id_seq', 537, true);


--
-- Name: user_coupon_coupon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_coupon_coupon_id_seq', 26, true);


--
-- Name: user_coupon_couponusage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_coupon_couponusage_id_seq', 124, true);


--
-- Name: user_order_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_order_orderitem_id_seq', 551, true);


--
-- Name: user_products_brands_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_products_brands_id_seq', 12, true);


--
-- Name: user_products_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_products_category_id_seq', 9, true);


--
-- Name: user_products_colorvarient_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_products_colorvarient_id_seq', 39, true);


--
-- Name: user_products_image_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_products_image_id_seq', 110, true);


--
-- Name: user_products_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_products_products_id_seq', 47, true);


--
-- Name: user_profile_address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_profile_address_id_seq', 47, true);


--
-- Name: user_review_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_review_review_id_seq', 183, true);


--
-- Name: user_wallet_wallet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_wallet_wallet_id_seq', 116, true);


--
-- Name: account_emailaddress account_emailaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress account_emailaddress_user_id_email_987c8728_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_email_987c8728_uniq UNIQUE (user_id, email);


--
-- Name: account_emailconfirmation account_emailconfirmation_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_key_key UNIQUE (key);


--
-- Name: account_emailconfirmation account_emailconfirmation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_pkey PRIMARY KEY (id);


--
-- Name: admin_side_banner admin_side_baners_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_side_banner
    ADD CONSTRAINT admin_side_baners_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: django_site django_site_domain_a2e37b91_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_domain_a2e37b91_uniq UNIQUE (domain);


--
-- Name: django_site django_site_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_provider_uid_fc810c6e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_provider_uid_fc810c6e_uniq UNIQUE (provider, uid);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq UNIQUE (socialapp_id, site_id);


--
-- Name: socialaccount_socialapp socialaccount_socialapp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialapp
    ADD CONSTRAINT socialaccount_socialapp_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp_sites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp_sites_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq UNIQUE (app_id, account_id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_pkey PRIMARY KEY (id);


--
-- Name: user_authentication_customuser_groups user_authentication_cust_customuser_id_group_id_1aee0ff6_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_authentication_customuser_groups
    ADD CONSTRAINT user_authentication_cust_customuser_id_group_id_1aee0ff6_uniq UNIQUE (customuser_id, group_id);


--
-- Name: user_authentication_customuser_user_permissions user_authentication_cust_customuser_id_permission_aa2a79c6_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_authentication_customuser_user_permissions
    ADD CONSTRAINT user_authentication_cust_customuser_id_permission_aa2a79c6_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: user_authentication_customuser user_authentication_customuser_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_authentication_customuser
    ADD CONSTRAINT user_authentication_customuser_email_key UNIQUE (email);


--
-- Name: user_authentication_customuser_groups user_authentication_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_authentication_customuser_groups
    ADD CONSTRAINT user_authentication_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: user_authentication_customuser user_authentication_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_authentication_customuser
    ADD CONSTRAINT user_authentication_customuser_pkey PRIMARY KEY (id);


--
-- Name: user_authentication_customuser_user_permissions user_authentication_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_authentication_customuser_user_permissions
    ADD CONSTRAINT user_authentication_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: user_authentication_customuser user_authentication_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_authentication_customuser
    ADD CONSTRAINT user_authentication_customuser_username_key UNIQUE (username);


--
-- Name: user_cart_cart user_cart_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_cart_cart
    ADD CONSTRAINT user_cart_cart_pkey PRIMARY KEY (id);


--
-- Name: user_coupon_coupon user_coupon_coupon_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_coupon_coupon
    ADD CONSTRAINT user_coupon_coupon_code_key UNIQUE (code);


--
-- Name: user_coupon_coupon user_coupon_coupon_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_coupon_coupon
    ADD CONSTRAINT user_coupon_coupon_pkey PRIMARY KEY (id);


--
-- Name: user_coupon_couponusage user_coupon_couponusage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_coupon_couponusage
    ADD CONSTRAINT user_coupon_couponusage_pkey PRIMARY KEY (id);


--
-- Name: user_order_order user_order_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_order_order
    ADD CONSTRAINT user_order_order_pkey PRIMARY KEY (order_id);


--
-- Name: user_order_orderitem user_order_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_order_orderitem
    ADD CONSTRAINT user_order_orderitem_pkey PRIMARY KEY (id);


--
-- Name: user_products_brands user_products_brands_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_products_brands
    ADD CONSTRAINT user_products_brands_pkey PRIMARY KEY (id);


--
-- Name: user_products_category user_products_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_products_category
    ADD CONSTRAINT user_products_category_pkey PRIMARY KEY (id);


--
-- Name: user_products_colorvarient user_products_colorvarient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_products_colorvarient
    ADD CONSTRAINT user_products_colorvarient_pkey PRIMARY KEY (id);


--
-- Name: user_products_image user_products_image_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_products_image
    ADD CONSTRAINT user_products_image_pkey PRIMARY KEY (id);


--
-- Name: user_products_products user_products_products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_products_products
    ADD CONSTRAINT user_products_products_pkey PRIMARY KEY (id);


--
-- Name: user_profile_address user_profile_address_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profile_address
    ADD CONSTRAINT user_profile_address_pkey PRIMARY KEY (id);


--
-- Name: user_review_review user_review_review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_review_review
    ADD CONSTRAINT user_review_review_pkey PRIMARY KEY (id);


--
-- Name: user_wallet_wallet user_wallet_wallet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_wallet_wallet
    ADD CONSTRAINT user_wallet_wallet_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress_upper; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_emailaddress_upper ON public.account_emailaddress USING btree (upper((email)::text));


--
-- Name: account_emailaddress_user_id_2c513194; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_emailaddress_user_id_2c513194 ON public.account_emailaddress USING btree (user_id);


--
-- Name: account_emailconfirmation_email_address_id_5b7f8c58; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_emailconfirmation_email_address_id_5b7f8c58 ON public.account_emailconfirmation USING btree (email_address_id);


--
-- Name: account_emailconfirmation_key_f43612bd_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_emailconfirmation_key_f43612bd_like ON public.account_emailconfirmation USING btree (key varchar_pattern_ops);


--
-- Name: admin_side_baners_variant_id_5be0df3f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_side_baners_variant_id_5be0df3f ON public.admin_side_banner USING btree (variant_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: django_site_domain_a2e37b91_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_site_domain_a2e37b91_like ON public.django_site USING btree (domain varchar_pattern_ops);


--
-- Name: socialaccount_socialaccount_user_id_8146e70c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX socialaccount_socialaccount_user_id_8146e70c ON public.socialaccount_socialaccount USING btree (user_id);


--
-- Name: socialaccount_socialapp_sites_site_id_2579dee5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX socialaccount_socialapp_sites_site_id_2579dee5 ON public.socialaccount_socialapp_sites USING btree (site_id);


--
-- Name: socialaccount_socialapp_sites_socialapp_id_97fb6e7d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX socialaccount_socialapp_sites_socialapp_id_97fb6e7d ON public.socialaccount_socialapp_sites USING btree (socialapp_id);


--
-- Name: socialaccount_socialtoken_account_id_951f210e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX socialaccount_socialtoken_account_id_951f210e ON public.socialaccount_socialtoken USING btree (account_id);


--
-- Name: socialaccount_socialtoken_app_id_636a42d7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX socialaccount_socialtoken_app_id_636a42d7 ON public.socialaccount_socialtoken USING btree (app_id);


--
-- Name: unique_verified_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX unique_verified_email ON public.account_emailaddress USING btree (email) WHERE verified;


--
-- Name: user_authentication_custom_customuser_id_ca8997b0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_authentication_custom_customuser_id_ca8997b0 ON public.user_authentication_customuser_user_permissions USING btree (customuser_id);


--
-- Name: user_authentication_custom_permission_id_3ab8b24a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_authentication_custom_permission_id_3ab8b24a ON public.user_authentication_customuser_user_permissions USING btree (permission_id);


--
-- Name: user_authentication_customuser_email_5147c752_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_authentication_customuser_email_5147c752_like ON public.user_authentication_customuser USING btree (email varchar_pattern_ops);


--
-- Name: user_authentication_customuser_groups_customuser_id_41ff090d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_authentication_customuser_groups_customuser_id_41ff090d ON public.user_authentication_customuser_groups USING btree (customuser_id);


--
-- Name: user_authentication_customuser_groups_group_id_fd1e6c88; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_authentication_customuser_groups_group_id_fd1e6c88 ON public.user_authentication_customuser_groups USING btree (group_id);


--
-- Name: user_authentication_customuser_username_3298d667_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_authentication_customuser_username_3298d667_like ON public.user_authentication_customuser USING btree (username varchar_pattern_ops);


--
-- Name: user_cart_cart_product_id_7d9b069e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_cart_cart_product_id_7d9b069e ON public.user_cart_cart USING btree (product_id);


--
-- Name: user_cart_cart_user_id_47908d1f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_cart_cart_user_id_47908d1f ON public.user_cart_cart USING btree (user_id);


--
-- Name: user_coupon_coupon_code_a3f75382_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_coupon_coupon_code_a3f75382_like ON public.user_coupon_coupon USING btree (code varchar_pattern_ops);


--
-- Name: user_coupon_couponusage_coupon_id_4927a1bf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_coupon_couponusage_coupon_id_4927a1bf ON public.user_coupon_couponusage USING btree (coupon_id);


--
-- Name: user_coupon_couponusage_user_id_d436184e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_coupon_couponusage_user_id_d436184e ON public.user_coupon_couponusage USING btree (user_id);


--
-- Name: user_order_order_address_id_d1cac188; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_order_order_address_id_d1cac188 ON public.user_order_order USING btree (address_id);


--
-- Name: user_order_order_applied_coupon_id_a6c688f8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_order_order_applied_coupon_id_a6c688f8 ON public.user_order_order USING btree (applied_coupon_id);


--
-- Name: user_order_order_applied_offer_id_f3d7d503; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_order_order_applied_offer_id_f3d7d503 ON public.user_order_order USING btree (applied_offer_id);


--
-- Name: user_order_order_order_id_ebf7d02e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_order_order_order_id_ebf7d02e_like ON public.user_order_order USING btree (order_id varchar_pattern_ops);


--
-- Name: user_order_order_user_id_3ea43df3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_order_order_user_id_3ea43df3 ON public.user_order_order USING btree (user_id);


--
-- Name: user_order_orderitem_order_id_bff4e53b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_order_orderitem_order_id_bff4e53b ON public.user_order_orderitem USING btree (order_id);


--
-- Name: user_order_orderitem_order_id_bff4e53b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_order_orderitem_order_id_bff4e53b_like ON public.user_order_orderitem USING btree (order_id varchar_pattern_ops);


--
-- Name: user_order_orderitem_variant_id_7b09fd56; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_order_orderitem_variant_id_7b09fd56 ON public.user_order_orderitem USING btree (variant_id);


--
-- Name: user_products_colorvarient_product_id_d75d96cb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_products_colorvarient_product_id_d75d96cb ON public.user_products_colorvarient USING btree (product_id);


--
-- Name: user_products_image_variant_id_dfb96cce; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_products_image_variant_id_dfb96cce ON public.user_products_image USING btree (variant_id);


--
-- Name: user_products_products_brand_id_id_8d5da10e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_products_products_brand_id_id_8d5da10e ON public.user_products_products USING btree (brand_id_id);


--
-- Name: user_products_products_category_id_id_c29dbfa4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_products_products_category_id_id_c29dbfa4 ON public.user_products_products USING btree (category_id_id);


--
-- Name: user_profile_address_user_id_1edf69b6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_profile_address_user_id_1edf69b6 ON public.user_profile_address USING btree (user_id);


--
-- Name: user_review_review_user_id_ce2ade48; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_review_review_user_id_ce2ade48 ON public.user_review_review USING btree (user_id);


--
-- Name: user_review_review_variant_id_d06d0118; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_review_review_variant_id_d06d0118 ON public.user_review_review USING btree (variant_id);


--
-- Name: user_wallet_wallet_user_id_81a6d510; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_wallet_wallet_user_id_81a6d510 ON public.user_wallet_wallet USING btree (user_id);


--
-- Name: account_emailaddress account_emailaddress_user_id_2c513194_fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_2c513194_fk_user_auth FOREIGN KEY (user_id) REFERENCES public.user_authentication_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_emailconfirmation account_emailconfirm_email_address_id_5b7f8c58_fk_account_e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirm_email_address_id_5b7f8c58_fk_account_e FOREIGN KEY (email_address_id) REFERENCES public.account_emailaddress(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: admin_side_banner admin_side_baners_variant_id_5be0df3f_fk_user_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_side_banner
    ADD CONSTRAINT admin_side_baners_variant_id_5be0df3f_fk_user_prod FOREIGN KEY (variant_id) REFERENCES public.user_products_colorvarient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_user_auth FOREIGN KEY (user_id) REFERENCES public.user_authentication_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_account_id_951f210e_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_account_id_951f210e_fk_socialacc FOREIGN KEY (account_id) REFERENCES public.socialaccount_socialaccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_app_id_636a42d7_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_app_id_636a42d7_fk_socialacc FOREIGN KEY (app_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_site_id_2579dee5_fk_django_si; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_site_id_2579dee5_fk_django_si FOREIGN KEY (site_id) REFERENCES public.django_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc FOREIGN KEY (socialapp_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialaccount socialaccount_social_user_id_8146e70c_fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_social_user_id_8146e70c_fk_user_auth FOREIGN KEY (user_id) REFERENCES public.user_authentication_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_authentication_customuser_groups user_authentication__customuser_id_41ff090d_fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_authentication_customuser_groups
    ADD CONSTRAINT user_authentication__customuser_id_41ff090d_fk_user_auth FOREIGN KEY (customuser_id) REFERENCES public.user_authentication_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_authentication_customuser_user_permissions user_authentication__customuser_id_ca8997b0_fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_authentication_customuser_user_permissions
    ADD CONSTRAINT user_authentication__customuser_id_ca8997b0_fk_user_auth FOREIGN KEY (customuser_id) REFERENCES public.user_authentication_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_authentication_customuser_groups user_authentication__group_id_fd1e6c88_fk_auth_grou; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_authentication_customuser_groups
    ADD CONSTRAINT user_authentication__group_id_fd1e6c88_fk_auth_grou FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_authentication_customuser_user_permissions user_authentication__permission_id_3ab8b24a_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_authentication_customuser_user_permissions
    ADD CONSTRAINT user_authentication__permission_id_3ab8b24a_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_cart_cart user_cart_cart_product_id_7d9b069e_fk_user_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_cart_cart
    ADD CONSTRAINT user_cart_cart_product_id_7d9b069e_fk_user_prod FOREIGN KEY (product_id) REFERENCES public.user_products_colorvarient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_cart_cart user_cart_cart_user_id_47908d1f_fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_cart_cart
    ADD CONSTRAINT user_cart_cart_user_id_47908d1f_fk_user_auth FOREIGN KEY (user_id) REFERENCES public.user_authentication_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_coupon_couponusage user_coupon_couponus_coupon_id_4927a1bf_fk_user_coup; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_coupon_couponusage
    ADD CONSTRAINT user_coupon_couponus_coupon_id_4927a1bf_fk_user_coup FOREIGN KEY (coupon_id) REFERENCES public.user_coupon_coupon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_coupon_couponusage user_coupon_couponus_user_id_d436184e_fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_coupon_couponusage
    ADD CONSTRAINT user_coupon_couponus_user_id_d436184e_fk_user_auth FOREIGN KEY (user_id) REFERENCES public.user_authentication_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_order_order user_order_order_address_id_d1cac188_fk_user_profile_address_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_order_order
    ADD CONSTRAINT user_order_order_address_id_d1cac188_fk_user_profile_address_id FOREIGN KEY (address_id) REFERENCES public.user_profile_address(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_order_order user_order_order_applied_coupon_id_a6c688f8_fk_user_coup; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_order_order
    ADD CONSTRAINT user_order_order_applied_coupon_id_a6c688f8_fk_user_coup FOREIGN KEY (applied_coupon_id) REFERENCES public.user_coupon_coupon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_order_order user_order_order_applied_offer_id_f3d7d503_fk_user_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_order_order
    ADD CONSTRAINT user_order_order_applied_offer_id_f3d7d503_fk_user_prod FOREIGN KEY (applied_offer_id) REFERENCES public.user_products_colorvarient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_order_order user_order_order_user_id_3ea43df3_fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_order_order
    ADD CONSTRAINT user_order_order_user_id_3ea43df3_fk_user_auth FOREIGN KEY (user_id) REFERENCES public.user_authentication_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_order_orderitem user_order_orderitem_order_id_bff4e53b_fk_user_orde; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_order_orderitem
    ADD CONSTRAINT user_order_orderitem_order_id_bff4e53b_fk_user_orde FOREIGN KEY (order_id) REFERENCES public.user_order_order(order_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_order_orderitem user_order_orderitem_variant_id_7b09fd56_fk_user_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_order_orderitem
    ADD CONSTRAINT user_order_orderitem_variant_id_7b09fd56_fk_user_prod FOREIGN KEY (variant_id) REFERENCES public.user_products_colorvarient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_products_colorvarient user_products_colorv_product_id_d75d96cb_fk_user_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_products_colorvarient
    ADD CONSTRAINT user_products_colorv_product_id_d75d96cb_fk_user_prod FOREIGN KEY (product_id) REFERENCES public.user_products_products(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_products_image user_products_image_variant_id_dfb96cce_fk_user_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_products_image
    ADD CONSTRAINT user_products_image_variant_id_dfb96cce_fk_user_prod FOREIGN KEY (variant_id) REFERENCES public.user_products_colorvarient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_products_products user_products_produc_brand_id_id_8d5da10e_fk_user_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_products_products
    ADD CONSTRAINT user_products_produc_brand_id_id_8d5da10e_fk_user_prod FOREIGN KEY (brand_id_id) REFERENCES public.user_products_brands(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_products_products user_products_produc_category_id_id_c29dbfa4_fk_user_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_products_products
    ADD CONSTRAINT user_products_produc_category_id_id_c29dbfa4_fk_user_prod FOREIGN KEY (category_id_id) REFERENCES public.user_products_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_profile_address user_profile_address_user_id_1edf69b6_fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profile_address
    ADD CONSTRAINT user_profile_address_user_id_1edf69b6_fk_user_auth FOREIGN KEY (user_id) REFERENCES public.user_authentication_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_review_review user_review_review_user_id_ce2ade48_fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_review_review
    ADD CONSTRAINT user_review_review_user_id_ce2ade48_fk_user_auth FOREIGN KEY (user_id) REFERENCES public.user_authentication_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_review_review user_review_review_variant_id_d06d0118_fk_user_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_review_review
    ADD CONSTRAINT user_review_review_variant_id_d06d0118_fk_user_prod FOREIGN KEY (variant_id) REFERENCES public.user_products_colorvarient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_wallet_wallet user_wallet_wallet_user_id_81a6d510_fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_wallet_wallet
    ADD CONSTRAINT user_wallet_wallet_user_id_81a6d510_fk_user_auth FOREIGN KEY (user_id) REFERENCES public.user_authentication_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

